html, body {
    font-family: 'Lato', sans-serif;
}

.name-circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #00d1b2;
}

@media screen and (max-width: 768px) {
    .is-flex-direction-column-reverse-mobile {
        flex-direction: column-reverse!important
    }
}