html, body {
    font-family: 'Lato', sans-serif;
}

.button.is-primary {
    background-color: #2196f3 !important;
}

.name-circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #1976d2;
}

@media screen and (max-width: 768px) {
    .is-flex-direction-column-reverse-mobile {
        flex-direction: column-reverse!important
    }
}

#about {
    background-color: #fafafa;
}